openapi: 3.0.0
info:
  title: Sample API
  version: 1.0.0
paths:
  /{ID+}:
      get:
        summary: Handle request
        operationId: handleRequest
        parameters:
          - name: ID
            in: path
            description: Handle request
        x-yc-apigateway-integration:
          type: cloud_functions
          function_id: {function_id}
          tag: "$latest"
          service_account_id: {service_account_id}
          payload_format_version: "1.0"